/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: 62.5%;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    background-color: #FAFCFB;
}

main {
    color: white;
}

.product a {
    color: #e57c6d;
}

h1 {
    font-size: 7.5rem;
    text-align: center;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 2rem;
}

ul,
a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

p,
a,
button {
    font-size: 1.7rem;
}

button {
    color: #e57c6d;
    background-color: #EBEDEC;
    padding: 2.5rem 4rem;
    border: none;
}

button:hover {
    color: white;
    background-color: #e57c6d;
    padding: 2.5rem 4rem;
    border: none;
}

.heading,
a[href="../index.html"] {
    font-size: 3.4rem;
    font-weight: 500;
}

img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* 996 w
    1236 h
 */

figcaption {
    text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/
.banner {
    background-size: cover;
}

#landing {
    background-image: url(../assets/pexels-rodion-kutsaiev-4664463.jpg);
    background-position: right 0 top -50px;

}

#shopping,
.banner {
    height: 100vh;
    display: flex;
    flex-flow: column;
}

header {
    padding: 6rem 5rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*flex-basis: 1 0 33.3333%;*/
}

nav>* {
    min-width: 20rem;
}

nav>ul {
    display: flex;
    padding: 0;
    line-height: 2;
    align-items: center;
}

nav>ul>li,
nav>div>a {
    padding: 0 1rem;
}

nav>div {
    display: flex;
    justify-content: flex-end;
}

main>#landing>section {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    text-align: center;
}

/**********************
/* SHOPPING
/**********************/
#shopping {
    align-items: center;
    background-color: #FAFCFB;
    justify-content: space-evenly;
}

.subheading {
    text-align: center;
    padding: 0 1rem;

}

#shopping>.subheading>h3 {
    font-weight: 500;
}

.shop-btn-secondary,
form>button {
    color: white;
    background-color: #e57c6d;
    border: 1px solid #e57c6d;
}

.shop-btn-secondary:hover,
form>button:hover {
    color: #e57c6d;
    background-color: #EBEDEC;
    border: 1px solid #e57c6d;
}

.shopping-items-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    min-height: 0;
    max-height: 50%;
    min-width: 33%;
    max-width: 90%;
}

.shopping-items-container>* {
    flex: 1 1 50%;
}

#shopping img {
    height: 100%;
    width: auto;
}

/*************************
/* BANNER
/*************************/

#third-page {
    background-image: url(../assets/pawel-czerwinski-pc1X8HYlENs-unsplash.jpg);
}

#kitchen {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1400px;
    margin: auto;
}

#kitchen>* {
    flex: 1 1 auto;
    min-width: 0;
}

#kitchen>div {
    display: flex;
    justify-content: center;
}

#kitchen .subheading {
    max-width: 500px;
    margin-right: 5rem;
}

#kitchen>img {
    max-height: 100vh;
    max-width: max-content;
}

/*************************
/* FOOTER
/*************************/

footer {
    background: #e57c6d;
    color: white;
    padding: 6rem 5rem;

}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
}

footer>h4 {
    font-weight: 400;
}

footer i {
    margin-top: 2.66rem;
}

/******************************************
/* SHOPPING LANDING PAGE
/*******************************************/

.shopping-landing-page a,
.shopping-landing-page ul,
.our-story a,
.our-story ul {
    color: #e57c6d;
}

header ul li:hover,
header div>a:hover {
    font-weight: bold;
}

.donuts-list {
    display: grid;
    grid-template-rows: repeat(3, 50%);
    grid-template-columns: 1fr 1fr 1fr;
}

figure:hover {
    font-weight: bold;
}

footer .address+p>a {
    color: white;
}

.socials>a {
    color: white;
}

/****************************
/* OUR STORY
/****************************/

.our-story {
    color: black !important;

}

.our-story>section:first-child,
.our-story>section:last-child {
    padding: 6rem 10rem;
}

.our-story-banner {
    background-color: #e57c6d;
    padding: 0 10rem;
}

.our-story-banner,
.our-story-banner+section {
    margin: auto;
}

.our-story-banner+section {
    max-width: 1440px;
    padding: 0 5rem;
}

.our-story-banner>img {
    vertical-align: bottom;
}


/*********************************
/* SHOPPING PAGE
/*********************************/
.product h1,
.product h2 {
    font-size: calc((2.8 - 1) * 1.2vw + 1rem);
    text-align: left;
}

.product h1,
.product h2,
.sublinks>li>a,
.item-description>* {
    color: black;
}

.sublinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8rem;
}

.sublinks>li {
    padding-left: 1.2rem;
}


.sublinks,
.price {
    color: #e57c6d;
}

label {
    font-size: 1.6rem;
}

.product-main {
    flex-flow: row nowrap;
}

.product-main,
.additional-products {
    display: flex;
    padding: 0 5rem;
    position: relative;
    max-width: 1240px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.product-main>img,
.product-main>.item-description {
    flex: 1 1 auto;
    max-width: 50%;
    min-width: 50%;
}



.product-main>.item-description {
    padding: 0 1rem;
}

.additional-products {
    padding: 0 5rem;
}

form>* {
    display: block;
    margin-top: 1.5rem;
}

form>input {
    width: 40%;
    padding: 2rem;
    border: 1px solid #e57c6d;
}

form>input:focus {
    outline: 2px solid #e57c6d;
}

form>button {
    width: 100%;
    max-width: 375px;
}

.price {
    font-weight: bold;
}

.additional-products {
    flex-direction: column;
}

.additional-products>h2 {
    align-self: flex-start;
}

@media screen and (max-width: 700px) {
    .top-fixed {
        position: fixed;
        left: 0;
        right: 0;
    }

    #landing {
        position: relative;
    }

    header {
        padding: 6rem 2.5rem;
    }

    header>nav>ul,
    a[href="login"] {
        display: none;
    }

    nav>* {
        min-width: 0;
    }

    .our-story .line,
    .shopping-landing-page .line,
    .product .line {
        stroke: #e57c6d;
    }

    .block {
        display: block;
    }

    .none {
        display: none;
    }

    .drop-down-menu {
        position: fixed;
        top: 107px;
        background-color: #578ECF;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
    }

    .shopping-landing-page .drop-down-menu,
    .our-story .drop-down-menu,
    .product .drop-down-menu {
        background-color: white;
        color: #e57c6d;
    }

    .drop-down-menu>section>ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 170px);
    }

    .drop-down-menu>section>ul>li>a {
        font-size: 10rem;
        text-align: center;
    }

    .menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
    }

    .menu:hover {
        background-color: transparent;
        padding: 0;
    }

    .line {
        fill: none;
        stroke: white;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
    }

    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }

    .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
    }

    .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }

    .product .drop-down-menu {
        position: static;
    }

    .product-main,
    .additional-products {
        flex-flow: column;
    }

    .product-main {
        overflow: hidden;
    }

    .product-main>.item-description {
        padding: 0;
    }

    .product-main>img,
    .product-main>.item-description {
        min-width: 100%;
    }

    .donuts-list {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .additional-products {
        padding-top: 5rem;
    }
}

@media screen and (min-width: 701px) {
    .menu {
        display: none;
    }

    .drop-down-menu {
        display: none;
    }
}