/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: 62.5%;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

main {
    color: white;
}



h1 {
    font-size: 7.5rem;
    text-align: center;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 2rem;
}

ul,
a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

p,
a,
button {
    font-size: 1.7rem;
}

button {
    color: #e57c6d;
    background-color: white;
    padding: 1.5rem 2rem;
    border: none;
}

a[href="#"] {
    font-size: 3.4rem;
    font-weight: 500;
}

img {
    width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/
.banner {
    background-size: cover;
}

#landing {
    background-image: url(../assets/pexels-rodion-kutsaiev-4664463.jpg);
    background-position: right 0 top -50px;

}

#shopping,
.banner {
    height: 100vh;
    display: flex;
    flex-flow: column;
}

header {
    padding: 6rem 5rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*flex-basis: 1 0 33.3333%;*/
}

nav>* {
    min-width: 20rem;
}

nav>ul {
    display: flex;
    padding: 0;
    line-height: 2;
    align-items: center;
}

nav>ul>li,
nav>div>a {
    padding: 0 1rem;
}

nav>div {
    display: flex;
    justify-content: flex-end;
}

main>#landing>section {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/**********************
/* SHOPPING
/**********************/
#shopping {
    align-items: center;
    background-color: #FAFCFB;
    justify-content: space-evenly;
}

.subheading {
    text-align: center;
    padding: 0 1rem;

}

#shopping>.subheading>h3 {
    font-weight: 500;
}

.shop-btn-secondary {
    color: white;
    background-color: #e57c6d;
}

.shopping-items-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    min-height: 0;
    max-height: 50%;
}

.shopping-items-container>* {
    flex: 1 1 50%;
}

#shopping img {
    height: 100%;
    width: auto;
}

/*************************
/* BANNER
/*************************/

#third-page {
    background-image: url(../assets/pawel-czerwinski-pc1X8HYlENs-unsplash.jpg);
}

#kitchen {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

#kitchen>* {
    flex: 1 1 auto;
    min-width: 0;
}

#kitchen>div {
    display: flex;
    justify-content: center;
}

#kitchen .subheading {
    max-width: 500px;
}

#kitchen>img {
    max-height: 100vh;
    max-width: max-content;
}

/*************************
/* FOOTER
/*************************/

footer {
    background: #e57c6d;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

footer>h4 {
    font-weight: 400;
}

footer i {
    margin-top: 2.66rem;
}

/******************************************
/* SHOPPING LANDING PAGE
/*******************************************/
.shopping-landing-page a,
.shopping-landing-page ul {
    color: black;
}

.donuts-list {
    display: grid;
    grid-template-rows: repeat(3, 50%);
    grid-template-columns: 1fr 1fr 1fr;
}

footer .address+p>a {
    color: white;
}

/****************************
/* OUR STORY
/****************************/

.our-story {
    color: black !important;

}

.our-story>section:first-child,
.our-story>section:last-child {
    padding: 2rem 3rem;
}

.our-story-banner {
    padding: 0;
}